{% set call_title = object.proposal.call.title if object.proposal and object.proposal.call else '' %}
{% set proposal_title = object.proposal.title if object.proposal else object.name %}
[Deutsch]

Hi!

Wir freuen uns, dir mitteilen zu können, dass der folgende Termin für deine Einreichung "{{ proposal_title }}" für "{{ call_title }}" bestätigt wurde:

  Veranstaltung: {{ object.name }}
  Beginn: {{ object.start_time|berlin('%d.%m.%Y %H:%M %Z') }}
  Ende: {{ object.end_time|berlin('%d.%m.%Y %H:%M %Z') }}

Den Termin kannst du unter folgendem Link einsehen:

{{ event_url }}

Bei Fragen melde dich gerne bei uns.

Das {{ call_title }} Team

================================

[English]

Hi!

We are pleased to let you know that the following date for your submission "{{ proposal_title }}" for "{{ call_title }}" has been confirmed:

  Event: {{ object.name }}
  Start: {{ object.start_time|berlin('%Y-%m-%d %H:%M %Z') }}
  End: {{ object.end_time|berlin('%Y-%m-%d %H:%M %Z') }}

You can view the date at the following link:

{{ event_url }}

Please don't hesitate to reach out if you have any questions.

The {{ call_title }} Team
