{% set call_title = object.proposal.call.title if object.proposal and object.proposal.call else '' %}
{% set proposal_title = object.proposal.title if object.proposal else object.name %}
{% set owner_name = object.proposal.owner.get_full_name() or object.proposal.owner.username if object.proposal and object.proposal.owner else '' %}
[Deutsch]

Termin abgesagt für "{{ call_title }}"

Der folgende Termin wurde abgesagt:

  Veranstaltung: {{ object.name }}
  Einreichung: {{ proposal_title }}
  Einreicher: {{ owner_name }}
  Beginn: {{ object.start_time|berlin('%d.%m.%Y %H:%M %Z') }}
  Ende: {{ object.end_time|berlin('%d.%m.%Y %H:%M %Z') }}

Die Einreichung ist unter folgendem Link einsehbar:

{{ proposal_url }}

Der Termin ist unter folgendem Link einsehbar:

{{ event_url }}

================================

[English]

Date canceled for "{{ call_title }}"

The following date has been canceled:

  Event: {{ object.name }}
  Submission: {{ proposal_title }}
  Submitted by: {{ owner_name }}
  Start: {{ object.start_time|berlin('%Y-%m-%d %H:%M %Z') }}
  End: {{ object.end_time|berlin('%Y-%m-%d %H:%M %Z') }}

The submission can be viewed at the following link:

{{ proposal_url }}

The date can be viewed at the following link:

{{ event_url }}
