{% set call_title = object.proposal.call.title if object.proposal and object.proposal.call else '' %}
{% set proposal_title = object.proposal.title if object.proposal else object.name %}
{% set owner_name = object.proposal.owner.get_full_name() or object.proposal.owner.username if object.proposal and object.proposal.owner else '' %}
[Deutsch]

Terminvorschlag abgelehnt für "{{ call_title }}"

Der Einreicher hat den folgenden Terminvorschlag abgelehnt:

  Veranstaltung: {{ object.name }}
  Einreichung: {{ proposal_title }}
  Einreicher: {{ owner_name }}

Die Einreichung ist unter folgendem Link einsehbar:

{{ proposal_url }}

Der Terminvorschlag ist unter folgendem Link einsehbar:

{{ event_url }}

{% include "apiv1/mails/_reply_hint_de.txt.j2" %}

================================

[English]

Date proposal rejected for "{{ call_title }}"

The submitter has rejected the following date proposal:

  Event: {{ object.name }}
  Submission: {{ proposal_title }}
  Submitted by: {{ owner_name }}

The submission can be viewed at the following link:

{{ proposal_url }}

The date proposal can be viewed at the following link:

{{ event_url }}

{% include "apiv1/mails/_reply_hint_en.txt.j2" %}
