{% set call_title = object.call.title if object.call else '' %}
[Deutsch]

Hi!

Vielen Dank für deine Einreichung "{{ object.title }}" für "{{ call_title }}". Leider können wir deine Einreichung diesmal nicht berücksichtigen.

Du kannst deine Einreichung unter folgendem Link ansehen:

{{ proposal_url }}

Bitte zögere nicht, dich bei uns zu melden, wenn du irgendwelche Fragen hast.

Das {{ call_title }} Team

{% include "apiv1/mails/_reply_hint_de.txt.j2" %}

================================

[English]

Hi!

Thank you for your submission "{{ object.title }}" for "{{ call_title }}". Unfortunately we are not able to consider your submission this time.

You can view your submission at the following link:

{{ proposal_url }}

Please don't hesitate to reach out if you have any questions.

The {{ call_title }} Team

{% include "apiv1/mails/_reply_hint_en.txt.j2" %}
