{% set call_title = object.call.title if object.call else '' %}
[Deutsch]

Hi!

Wir haben deine Einreichung "{{ object.title }}" für "{{ call_title }}" geprüft und bitten dich, einige Überarbeitungen vorzunehmen.

{% if reviews %}
{% for review in reviews %}
{% if review.reviewer_is_system %}Kommentar des Teams:{% else %}Kommentar von {{ review.reviewer.username }}:{% endif %}

{{ review.comment }}
{% if not loop.last %}
---
{% endif %}
{% endfor %}
{% elif object.moderation_comment %}
Kommentar des Teams:

{{ object.moderation_comment }}
{% endif %}

Du kannst deine Einreichung unter folgendem Link bearbeiten:

{{ proposal_url }}

Bitte zögere nicht, dich bei uns zu melden, wenn du irgendwelche Fragen hast.

Das {{ call_title }} Team

{% include "apiv1/mails/_reply_hint_de.txt.j2" %}

================================

[English]

Hi!

We have reviewed your submission "{{ object.title }}" for "{{ call_title }}" and would like to ask you to make some revisions.

{% if reviews %}
{% for review in reviews %}
{% if review.reviewer_is_system %}Comment from the team:{% else %}Comment from {{ review.reviewer.username }}:{% endif %}

{{ review.comment }}
{% if not loop.last %}
---
{% endif %}
{% endfor %}
{% elif object.moderation_comment %}
Comment from the team:

{{ object.moderation_comment }}
{% endif %}

You can edit your submission at the following link:

{{ proposal_url }}

Please don't hesitate to reach out if you have any questions.

The {{ call_title }} Team

{% include "apiv1/mails/_reply_hint_en.txt.j2" %}
