{% set call_title = object.call.title if object.call else '' %}
[Deutsch]

Hi {{ reviewer.username }}!

Du wurdest gebeten, die Einreichung "{{ object.title }}"{% if call_title %} für "{{ call_title }}"{% endif %} zu begutachten.

Du kannst die Einreichung unter folgendem Link einsehen und dein Gutachten abgeben:

{{ proposal_url }}

{% include "apiv1/mails/_reply_hint_de.txt.j2" %}

================================

[English]

Hi {{ reviewer.username }}!

You have been asked to review the submission "{{ object.title }}"{% if call_title %} for "{{ call_title }}"{% endif %}.

You can view the submission and submit your review at the following link:

{{ proposal_url }}

{% include "apiv1/mails/_reply_hint_en.txt.j2" %}
