{% set call_title = object.call.title if object.call else '' %}
{% set owner_name = object.owner.get_full_name() or object.owner.username if object.owner else '' %}
[Deutsch]

Neue Einreichung für "{{ call_title }}"

Es ist eine neue (oder überarbeitete) Einreichung eingegangen:

  Titel: {{ object.title }}
  Einreicher: {{ owner_name }}

Die Einreichung ist unter folgendem Link einsehbar:

{{ proposal_url }}

{% include "apiv1/mails/_reply_hint_de.txt.j2" %}

================================

[English]

New submission for "{{ call_title }}"

A new (or revised) submission has arrived:

  Title: {{ object.title }}
  Submitted by: {{ owner_name }}

The submission can be viewed at the following link:

{{ proposal_url }}

{% include "apiv1/mails/_reply_hint_en.txt.j2" %}
