[Deutsch]

Terminvorschlag bestätigt für "{{ proposal.call_title }}"

Der Einreicher hat den folgenden Terminvorschlag bestätigt:

  Veranstaltung: {{ event.name }}
  Einreichung: {{ proposal.title }}
  Einreicher: {{ proposal.owner_name }}

Die Einreichung ist unter folgendem Link einsehbar:

{{ proposal.url }}

Der Terminvorschlag ist unter folgendem Link einsehbar:

{{ event.url }}

================================

[English]

Date proposal confirmed for "{{ proposal.call_title }}"

The submitter has confirmed the following date proposal:

  Event: {{ event.name }}
  Submission: {{ proposal.title }}
  Submitted by: {{ proposal.owner_name }}

The submission can be viewed at the following link:

{{ proposal.url }}

The date proposal can be viewed at the following link:

{{ event.url }}
