[Deutsch]

Hi!

Wir freuen uns, dir mitzuteilen, dass deine Einreichung "{{ proposal.title }}" für "{{ proposal.call_title }}" angenommen wurde!

Du wirst in Kürze weitere Mails mit Terminvorschlägen von uns erhalten.

Du kannst deine Einreichung unter folgendem Link ansehen:

{{ proposal.url }}

Bitte zögere nicht, dich bei uns zu melden, wenn du irgendwelche Fragen hast.

Das {{ proposal.call_title }} Team

================================

[English]

Hi!

We are happy to let you know that your submission "{{ proposal.title }}" for "{{ proposal.call_title }}" has been accepted!

You will receive further emails from us with date proposals shortly.

You can view your submission at the following link:

{{ proposal.url }}

Please don't hesitate to reach out if you have any questions.

The {{ proposal.call_title }} Team
