[Deutsch]

Neue Einreichung für "{{ proposal.call_title }}"

Es ist eine neue (oder überarbeitete) Einreichung eingegangen:

  Titel: {{ proposal.title }}
  Einreicher: {{ proposal.owner_name }}

Die Einreichung ist unter folgendem Link einsehbar:

{{ proposal.url }}

================================

[English]

New submission for "{{ proposal.call_title }}"

A new (or revised) submission has arrived:

  Title: {{ proposal.title }}
  Submitted by: {{ proposal.owner_name }}

The submission can be viewed at the following link:

{{ proposal.url }}
