[Deutsch]

Hi!

Vielen Dank für deine Einreichung "{{ proposal.title }}" für "{{ proposal.call_title }}". Leider können wir deine Einreichung diesmal nicht berücksichtigen.

Du kannst deine Einreichung unter folgendem Link ansehen:

{{ proposal.url }}

Bitte zögere nicht, dich bei uns zu melden, wenn du irgendwelche Fragen hast.

Das {{ proposal.call_title }} Team

================================

[English]

Hi!

Thank you for your submission "{{ proposal.title }}" for "{{ proposal.call_title }}". Unfortunately we are not able to consider your submission this time.

You can view your submission at the following link:

{{ proposal.url }}

Please don't hesitate to reach out if you have any questions.

The {{ proposal.call_title }} Team
