[Deutsch]

Hi!

Deine Einreichung "{{ proposal.title }}" für "{{ proposal.call_title }}" ist bei uns angekommen. Wir melden uns bei dir, sobald wir Zeit hatten, alle Einreichungen anzusehen.

In der Zwischenzeit kannst du deine Einreichung unter folgendem Link ansehen:

{{ proposal.url }}

Bitte zögere nicht, dich bei uns zu melden, wenn du irgendwelche Fragen hast.

Das {{ proposal.call_title }} Team

================================

[English]

Hi!

Your submission "{{ proposal.title }}" for "{{ proposal.call_title }}" has arrived with us. We will get back to you as soon as we have had time to review all submissions.

In the meantime, you can view your submission at the following link:

{{ proposal.url }}

Please don't hesitate to reach out if you have any questions.

The {{ proposal.call_title }} Team
