[Deutsch]

Hi!

Wir freuen uns, dir mitteilen zu können, dass deine Einreichung "{{ fields.get('title', '') }}" angenommen wurde!

Du kannst deine Einreichung unter folgendem Link einsehen:

{{ settings.FRONTEND_BASE_URL }}/entities/{{ node.id }}

Bitte zögere nicht, dich bei uns zu melden, wenn du irgendwelche Fragen hast.

Viele Grüße

================================

[English]

Hi!

We are happy to let you know that your submission "{{ fields.get('title', '') }}" has been accepted!

You can view your submission at the following link:

{{ settings.FRONTEND_BASE_URL }}/entities/{{ node.id }}

Please don't hesitate to reach out if you have any questions.

Best regards
