[Deutsch]

Hi!

Wir haben deine Einreichung "{{ fields.get('title', '') }}" geprüft und müssen sie leider ablehnen.

Du kannst deine Einreichung unter folgendem Link einsehen:

{{ settings.FRONTEND_BASE_URL }}/entities/{{ node.id }}

Bitte zögere nicht, dich bei uns zu melden, wenn du irgendwelche Fragen hast.

Viele Grüße

================================

[English]

Hi!

We have reviewed your submission "{{ fields.get('title', '') }}" and unfortunately have to decline it.

You can view your submission at the following link:

{{ settings.FRONTEND_BASE_URL }}/entities/{{ node.id }}

Please don't hesitate to reach out if you have any questions.

Best regards
