[Deutsch]

Hi!

Deine Einreichung "{{ fields.get('title', '') }}" ist bei uns eingegangen. Wir werden sie prüfen und uns baldmöglichst bei dir melden.

Du kannst deine Einreichung unter folgendem Link einsehen:

{{ settings.FRONTEND_BASE_URL }}/entities/{{ node.id }}

Bitte zögere nicht, dich bei uns zu melden, wenn du irgendwelche Fragen hast.

Viele Grüße

================================

[English]

Hi!

Your submission "{{ fields.get('title', '') }}" has been received. We will review it and get back to you as soon as possible.

You can view your submission at the following link:

{{ settings.FRONTEND_BASE_URL }}/entities/{{ node.id }}

Please don't hesitate to reach out if you have any questions.

Best regards
